/* Tablet */
@media all and (max-width: 1000px) {
    .list-logo {
        display: flex;
        justify-content: center;
    }

    .position-card {
        width: 30%;
        margin: .5rem 0;
    }
}

@media all and (max-width: 900px) {
    .list-logo img {
        width: 25rem;
    }

    .position-card {
        width: 50%;
    }

    .content-wrap{
        display: block;
        margin: 24px 0;
        padding: 0 5%;
    }

    .content-one-left, .content-one-right {
        width: 100%;
    }

    .card {
        margin-bottom: 20px;
    }

    .video-view {
        height: 320px;
    }
}
/* Mobile Smartphone */
@media all and (max-width: 670px) {
    .list-logo img {
        width: 25rem;
    }
    .list i {
        font-size: 1rem;
    }

    .ben-text {
        font-size: 1.3rem;
    }

    .position-card {
        width: 70%;
    }

    .video-view {
        height: 230px;
    }
}

@media all and (max-width: 435px) {
    .list-logo img {
        width: 17rem;
    }

    .list i {
        font-size: 1rem;
    }

    .ben-text {
        font-size: 1.3rem;
    }

    .video-view {
        height: 200px;
    }
}

@media (max-width: 800px) {
	.mob-nav{
		display: block;
		z-index: 10
	}
}

@media all and (max-width: 1190px) {
    .lists {
        justify-content: center;
    }
}