
* {
    margin: 0;
    padding: 0;
}

.content-field-one {
    width: 100%;
    margin: 36px;
    position: relative;
}

.content-header {
    text-align: center;
    padding: 0 25%;
}
.content-header h1 {
    margin-bottom: 24px ;
}

.container {
    padding: 16px;
    position: relative;
}

.content-field {
    width: 100%;
}

.content-wrap{
    display: flex;
    margin: 32px 0;
    padding: 0 8%;
}

.content-one-left{
    width: 60%;
}

.content-one-right {
    width: 100%;
}

.card {
    background-color: white;
    margin-bottom: 14px;
    border-radius: 6px;
    padding: 20px 18px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
}

.card h3 {
    margin: 0 0 6px;
}

.card p {
    text-align: justify;
}

.video-view {
    border-radius: 10px;
    width: 100%;
    height: 390px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../resource/image/background.png);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.btn-wrap i{
    color: rgba(255, 255, 255, 0.788);
    margin: 0 auto;
}

.btn-wrap {
    height: 100%;
    border-radius: 10px;
    background-color: #05358fe3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-view:hover{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.btn-wrap:hover {
    cursor: pointer;
    background-color: #05358ff1;
}

.btn-wrap:hover i{
    color: white;
}

html {
  transition: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* Header */
.jumbotron-banner{
  padding: 200px 0 135px 0;
  background-image: url(/assets/img/Header-jumbotron.png);
  background-size: cover;
  color: #fff;
  text-align: center;
}

.jumbotron-banner h1,h2{
  color: #000
}

.jumbotron-banner h2{
  font-size: 35px;
}

.jumbotron-banner h1{
  font-size: 40px;
}

.join-btn{
  display: inline-block;
  padding: 12px 20px;
  background-color: #0000cc;
  color: #fff
}
/* End of Header */

/* Nav Menu */
.mob-nav{
	position: fixed;
	width: 100%;
	height: 50px;
	margin-top: 0px;
	color: white;
	display: none;
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0));
	float: right;
}

.navbtn {
  background-color: rgba(0,0,0,0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.nav-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-content a:hover {background-color: rgba(0,0,0,0.1);}

.dropdown:hover .nav-content {display: block;}

.dropdown:hover .navbtn {background-color: rgba(0,0,0,0.1);}


.nav-menu li{
	list-style: none;
	float: left;
	margin-right: 15px;
	display: none;
}
.nav-menu a{
	color: white;
	text-shadow: 1px 1px #000
}
/*Nav Menu End*/

/* Content field three */
.content-field-three {
  opacity: inherit;
}

.cf-three-title {
  font-size: 1.5rem;
  text-align: center;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
}

.team-cards p,
.social-media {
  text-align: center;
}

.team-card {
  padding: 30px 20px;
  border-radius: .4rem;
  margin-top: 2.5em;
  margin-bottom: 3em;
  color: #424242;
  box-shadow: 0 10px 18px rgba(81, 81, 94, 0.1);
  height: auto;
  width: 20rem;
  margin: 1.5em;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  max-height: fit-content;
}

.team-card:hover {
  box-shadow: 0 10px 18px rgba(110, 110, 117, 0.2);
  transition: 0.6s;
}

.card-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes foto {
  from {bottom: -2px;}
  to {bottom:5px;}
}

.card-logo img {
  border-radius: .2rem;
  position: relative;
  animation-name: foto;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.social-media > a > i {
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.5rem;
  border-radius: 30%;
  color: #000;
}

.social-media > a > i:hover {
  background: rgb(4, 14, 116);
  background: linear-gradient(
    59deg,
    rgba(4, 14, 116, 1) 0%,
    rgba(9, 20, 204, 1) 53%,
    rgba(31, 110, 242, 1) 90%
  );
  color: #fff;
  transition: 1.1s;
  transform: rotateY(360deg);
}
/* End of Content field three */

/* Content field four */
.cf-four-title h3 {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}

.list-logo img {
  box-sizing: border-box;
  width: 55rem;
  transform: rotateY(180deg);
}

.lists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.list li {
  text-align: left;
  margin: 2rem auto;
}

.list i {
  color: #4A70E8;
  font-size: 1.5rem;
  padding-right: 1rem;
  position: relative;
  animation-name: bulat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bulat {
  from {color: #4A70E8;}
  to {color: #12009e;}
}

.ben-text {
  font-size: 1.8rem;
  color: #424242;
}
/* End of Content field four */

/* Footer */
.footer-top {
  padding: 60px;
  text-align: left;
  color: rgba(94, 86, 86, 0.8);
}

.ft-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.about {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px none;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.about p {
  color: #000;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  text-align: center;
}
/* End of Footer */

/* content twi */
.positions-wrapper {
  padding-top: 1.5rem /* 24px */;
  padding-bottom: 1.5rem /* 24px */;
  display: flex;
  justify-content: center;
}

.positions-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: -2rem /* -32px */;
}

.position-card {
  width: 25%;
  background-color: rgb(255, 255, 255);
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1.25rem 0.75rem;
  border-radius: 0.5rem /* 8px */;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.position-card:hover {
  background-color: rgb(230, 230, 230);
}
.img-wrapper {
  display: flex;
  justify-content: center;
}

.img-position {
  border-radius: 9999px;
  width: 80px;
  margin-bottom: 2.5rem /* 40px */;
}

.position-title {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 700;
  color: black;
  margin-bottom: 1.25rem;
}
.description-title {
  font-weight: 300;
}